<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630488783409-u0ivhnljgho5us770l3ccoe5qviu842k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630488783409-u0ivhnljgho5us770l3ccoe5qviu842k</string>
	<key>API_KEY</key>
	<string>AIzaSyBLYq_ugEb2UGAQyVlEaX8wkYtlTTC2jFo</string>
	<key>GCM_SENDER_ID</key>
	<string>630488783409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FlightTrack</string>
	<key>PROJECT_ID</key>
	<string>flighttrack-860aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flighttrack-860aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630488783409:ios:3084c52b17339be5b3d310</string>
</dict>
</plist>